body{
margin:0;
font-family:Arial, sans-serif;
background:url("https://images.unsplash.com/photo-1446776811953-b23d57bd21aa");
background-size:cover;
background-attachment:fixed;
color:white;
}

header{
background:rgba(0,0,0,0.8);
padding:20px;
text-align:center;
}

nav{
background:#111;
text-align:center;
padding:12px;
}

nav a{
color:white;
margin:15px;
text-decoration:none;
font-size:18px;
font-weight:bold;
}

nav a:hover{
color:#00eaff;
}

section{
padding:50px;
max-width:1000px;
margin:auto;
}

h2{
text-align:center;
color:#00eaff;
}

.cards{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:20px;
margin-top:30px;
}

.card{
background:rgba(0,0,0,0.7);
padding:20px;
border-radius:10px;
text-align:center;
transition:0.3s;
}

.card:hover{
transform:scale(1.05);
box-shadow:0 0 15px #00eaff;
}

.card img{
width:100%;
border-radius:8px;
}

footer{
background:black;
text-align:center;
padding:15px;
margin-top:40px;
}